@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spectral', Georgia;
}

header {
  margin-top: initial !important;
  border-bottom: 2px solid rgb(182, 34, 34);
}

/* footer */
header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
  background-color: #17191f;
  color: rgb(218, 218, 218);
  text-shadow: 0 0 6px rgb(182, 34, 34);
}

footer {
  border-top: 2px solid rgb(182, 34, 34);
}

footer h2 {
  margin-bottom: 1rem;
}

footer ul {
  display: flex;
  gap: 1rem;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #313338;
  border-radius: 50%;
  margin: 10px;
  padding: 2px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.wrapper .icon.um {
  background-image: url('./assets/house1.png');
}

.wrapper .icon.dois {
  background-image: url('./assets/house2.png');
}

.wrapper .icon.tres {
  background-image: url('./assets/house3.png');
}

.wrapper .icon.quatro {
  background-image: url('./assets/house4.png');
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: rgb(59, 59, 59);
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
