@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spectral', Georgia;
}

/* header */
header {
  border-bottom: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgb(182, 34, 34),
    rgb(216, 189, 35)
  );
}

/* main */
main {
  height: 100vh;
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 7rem;
  color: #fefefe;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5rem;
  background-color: rgba(0, 28, 36, 0.125);
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  border-radius: 12px;
  border: 3px solid rgba(0, 28, 36, 0.125);
}

.container h2 {
  margin-bottom: 0.5rem;
  text-shadow: 0 0 6px rgb(216, 189, 35);
}

/* accordion */
.accordion-item {
  background-color: transparent;
  border-radius: 0.4rem;
}

.accordion-item hr {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.accordion-link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 0.5rem 0;
}

.accordion-link.red {
  background-color: rgba(182, 34, 34, 0.13);
}

.accordion-link.yellow {
  background-color: rgba(216, 189, 35, 0.13);
}

.accordion-link h3 {
  font-weight: 500;
  font-size: 20px;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

.accordion-link i {
  color: #fefefe;
  padding: 0.5rem;
  margin-right: 1rem;
}

.accordion-link div {
  display: flex;
}

.accordion-link .ion-md-arrow-down {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  transition: max-height 650ms;
}

.answer p {
  color: #fff;
  font-size: 15px;
  padding: 2rem;
}

.accordion-item:target .answer {
  max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward {
  display: none;
}

.accordion-item:target .accordion-link .ion-md-arrow-down {
  display: block;
}

/* footer */
header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #17191f;
  color: rgb(218, 218, 218);
  text-shadow: 0 0 6px rgb(182, 34, 34);
  font-weight: bold;
}

footer {
  border-top: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgb(182, 34, 34),
    rgb(216, 189, 35)
  );
}

footer h2 {
  margin-bottom: 1rem;
  font-weight: bold;
}

footer ul {
  display: flex;
  gap: 1rem;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #313338;
  border-radius: 50%;
  margin: 10px;
  padding: 2px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.wrapper .icon.um {
  background-image: url('./assets/house1.png');
}

.wrapper .icon.dois {
  background-image: url('./assets/house2.png');
}

.wrapper .icon.tres {
  background-image: url('./assets/house3.png');
}

.wrapper .icon.quatro {
  background-image: url('./assets/house4.png');
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: rgb(59, 59, 59);
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
